

<div class="container d-flex flex-wrap justify-content-around ">


  <div *ngFor="let game of gamesList" class="text-center col-4" >
    
    <h3>{{ game.name }}</h3>
  <img src="{{game.background_image}}" alt=""  style="width: 100%; height: 200px; object-fit: cover;">
    <p>Sortie le {{game.released.split("-").reverse().join("/") }}</p>
    <p>{{ game.rating }} ({{game.ratings[0].title }})</p>
    <ul >
    <li *ngFor="let genre of game.genres">{{ genre.name }}</li> 
    </ul>

  </div>

</div>



<app-pagination 
[currentPage]="currentPage" 
[items]="40" 
[itemsPerPage]="itemsPerPage"
(pageChange)="currentPage=$event" >
</app-pagination>